<ul class="list-inline text-center footer-links">

{%- if site.social-network-links.github -%}
  <li class="list-inline-item">
    <a href="https://github.com/{{ site.social-network-links.github }}" title="GitHub">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-github fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">GitHub</span>
   </a>
  </li>
{%- endif -%}
  
{%- if site.social-network-links.linkedin -%}
  <li class="list-inline-item">
    <a href="https://linkedin.com/in/{{ site.social-network-links.linkedin }}" title="LinkedIn">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-linkedin fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">LinkedIn</span>
   </a>
  </li>
{%- endif -%}
