<html>
<head>
    <script src="https://d3js.org/d3.v7.min.js"></script>
</head>
<body>
    <p>
      <a href="https://baseballfan5303.github.io/">Back to Andrew Scheiner's Website</a>
      <a href="https://baseballfan5303.github.io/_includes/PROJECTS/BaseballDataVis/batting.html">Check out Scatterplot for 2022 MILB Hitters</a>
    </p>
    <h1>2022 MILB Pitchers</h1>
    <h3>Heatmap, tooltip, and dropdown implemented</h3>
    <span class="fill">
      Variable to fill heatmap with:
      <select class="fill" name="fill"></select>
    </span>
    <div id="pitchers-heatmap"></div>
    <div id="tooltip"></div>
    <p>
      <strong>Data Source:</strong> FanGraphs
    </p>
    <script src="pitching.js"></script>
</body>
</html>
