---
---

@import "minima";

.site-header {
  background-color: #00fa9a;
}

.page-content {
  background-color: #fffff0;
}

.site-footer {
  background-color: #006666;
}

.wrapper {
  text-align: center;
}
