---
---

@import "minima";

.site-header {
  background-color: #FFCC33;
}

.page-content {
  background-color: #FFCC99;
}

.second-table-row {
  background-color: #FFCC66;
}

.site-footer h-card {
  background-color: #006666;
}
