---
layout: default
---

<div>
  <h1>Projects</h1>
  <table>
    <tbody>
      <tr>
        <td>
          <div>
            <h3>Personal Projects</h3>
            <ul>
              <li><a href="https://github.com/Baseballfan5303/VS-BaseballGameCreator">Baseball Game Creator</a></li>
              <li><a href="https://github.com/Baseballfan5303/VS-TeenGuideToCOVID19">Teen Guide to COVID-19</a></li>
              <li><a href="">Connecting the Game</a></li>
              <li><a href="">Predicting MLB Teams' Success</a></li>
              <li><a href="">Data Retrieval</a></li>
            </ul>
           </div>
        </td>
        <td>
          <img source="images/me.jpg" alt="x"></img>
        </td>
      </tr>
      <tr>
        <td>
          <div>
            <h3>School Work</h3>
            <ul>
              <li><a href="https://github.com/Baseballfan5303/AnalyzingMLBFranchisesSince1998">Analyzing MLB Franchises</a></li>
              <li><a href="https://github.com/Baseballfan5303/DataAnalyticsPapers">Data Analytics Papers</a></li>
              <li><a href="">Computer Science Writing in the Discipline</a></li>
            </ul>
          </div>
        </td>
        <td>
          <img source="me-baseball.JPG" alt="x"></img>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div>
  <h1>Connecting the Game</h1>
</div>

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}


  {% if site.paginate %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}


  {%- if posts.size > 0 -%}
    {%- if page.list_title -%}
      <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}
    <ul class="post-list">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {%- for post in posts -%}
      <li>
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    {% if site.paginate %}
      <div class="pager">
        <ul class="pagination">
        {%- if paginator.previous_page %}
          <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">{{ paginator.previous_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
          <li><div class="current-page">{{ paginator.page }}</div></li>
        {%- if paginator.next_page %}
          <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
        </ul>
      </div>
    {%- endif %}

  {%- endif -%}

</div>
